*

!beer/*.xaml
!beer/*.cs
!*.config
!*.sln
!beer/*.csproj
!beer/Properties/*.*

!Droid/*.xaml
!Droid/*.cs
!Droid/*.config
!Droid/*.csproj
!Droid/Assets/*.*
!Droid/Properties/*
!Droid/Resources/**

!IOS/*.xaml
!IOS/*.cs
!IOS/*.config
!IOS/*.csproj
!IOS/Assets/*.*
!IOS/Properties/*
!IOS/Resources/**